:root {
    --primary-color: #2575FF;
    --primary-lighten-color: #3D8DFE;
    --primary-ghost-color: #E0ECFF;

    --secondary-color: #F8F8F8;
    --secondary-dark-color: #F2F2F2;
    --text-color: #172233;
    --text-ghost-color: #878D95;

    --body-color: #FFFFFF;
    --modal-bg: rgba(23, 34, 51, 0.11)

    --background-blur: blur(8px);
}

html {
    -webkit-text-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
  
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    height: 100dvh;
    width: 100%;
  
    color-scheme: light;
}

body {
    position: relative;
    overflow-x: hidden;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    
    overscroll-behavior-y: contain;
}

main {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0; 
}

.border-sm {
    border-radius: 16px;
}

.rounded {
    border-radius: 50%;
}

.container-lg {
    width: 1160px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.container-sm {
    width: 348px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.bg-blur {
    backdrop-filter: var(--background-blur);
    background: var(--modal-bg);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100dvw;
    height: 100dvh;
}