:root {
    --primary-color: #2575FF;
    --primary-lighten-color: #3181FF;
    --primary-ghost-color: #E0ECFF;

    --secondary-color: #F8F8F8;
    --secondary-darken-color: #F2F2F2;
    --text-color: #172233;
    --text-ghost-color: #878D95;

    --body-color: #FFFFFF;
    --modal-bg: rgba(23, 34, 51, 0.11);

    --background-blur: blur(8px);
}

html {
    -webkit-text-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
  
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    height: 100dvh;
    width: 100%;
  
    color-scheme: light;
}

body {
    position: relative;
    overflow-x: hidden;

    width: 100dvw;
    height: 100dvh;
    max-height: 100dvh;

    margin: 0;
    padding: 0;
    
    overscroll-behavior-y: contain;
}

main {
    width: 100%;
    height: 100%;
    max-height: calc(100dvh - 108px);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0; 
}

button { 
    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

ul {
    list-style-type: none;
}
ul, li {
    padding: 0;
    margin: 0;
}

.center {
    padding: 0;
    margin: 0 auto;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.logo {
    width: 118px;
    height: 29px;
}

.border_sm {
    border-radius: 16px;
}

.rounded {
    border-radius: 50%;
}

.container_lg {
    width: 1160px;
    box-sizing: border-box;
}

.container_sm {
    width: 348px;
    box-sizing: border-box;
}

.bg_blur {
    backdrop-filter: var(--background-blur);
    -webkit-backdrop-filter: var(--background-blur);
    background: var(--modal-bg);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;

    width: 100dvw;
    height: 100dvh;

    opacity: 1;
}

/* Icons */
.icon_close, .icon_plus, .icon_search {
    display: block;
    width: 24px;
    height: 24px;
    background: currentColor;
    mask-image: url('../../public/icon.svg');
    mask-position: center center;
}

.icon_close {
    mask-image: url('https://ucarecdn.com/1f44f194-6e77-478a-b215-9c00ca8522c2/');
}

.icon_plus {
    mask-image: url('https://ucarecdn.com/80b86e5c-0362-4c4b-a44a-2abf47cb5938/');
}

.icon_search {
    mask-image: url('https://ucarecdn.com/7eb0e3c0-f650-48ff-9d25-fa8436ad2bd0/');
}
/* Buttons */
.button_primary {
    background: var(--primary-color);
    color: var(--body-color);
}

.button_primary:hover {
    background: var(--primary-lighten-color);
}

.button_secondary {
    background: var(--secondary-color);
    color: var(--text-color);
}

.button_secondary:hover {
    background: var(--secondary-darken-color);
}

.button_primary:active, .button_secondary:active {
    transform: scale(0.98);
}

.button_sm {
    padding: 6px;
}

.button_lg {
    padding: 12px 24px;
}

.icon_button {
    border-radius: 8px;
}

.icon_button > span {
    opacity: 0.2;
}

.icon_button:hover > span {
    opacity: 1;
}

.icon_button:hover {
    background: var(--secondary-darken-color);
}

/* Add City */
.add_city {
    display: flex;
    gap: 8px;
    align-items: center;

    cursor: pointer;
}

.add_city > span {
    color: var(--text-ghost-color);
    cursor: pointer;
}

.add_city:hover .button_secondary {
    background: var(--secondary-darken-color);
}

/* Text */
.text_16_regular, .text_16_medium, 
.text_16_semibold {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.text_16_regular {
    font-weight: 400;
}

.text_16_medium {
    font-weight: 500;
}

.text_16_semibold {
    font-weight: 600;
}

.unvisible {
    visibility: hidden;
    opacity: 0;
}

/* Add Widget */
.add_widget {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;

    background: var(--body-color);

    padding: 24px;
    border-radius: 24px;
}

.add_widget__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.add_widget__name {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 100%;
    color: var(--text-color);
}

.add_widget__content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 100%;
}

/* Input */
.search_input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 24px;
    background: var(--secondary-color);
    width: 100%;

    box-sizing: border-box;
    border-radius: 16px;

    cursor: text;
}
.search_input > input {
    border: none;
    background: none;
    width: 100%;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.search_input > input:focus {
    outline: none;
}

.search_input:has(input:focus) {
    border: 1px var(--modal-bg) solid;
    padding: 11px 23px;
}

.start_typing {
    color: var(--text-ghost-color);
    text-align: center;
    width: 100%;
}

/* City Item */
.city_item {
    display: block;
    text-align: left;

    width: 100%;
    padding: 12px 24px;
    box-sizing: border-box;

    border-radius: 16px;

    cursor: pointer;
}

.city_item:hover {
    background: var(--primary-ghost-color);
}
.city_item:active {
    transform: scale(0.98);
}

/* City List */
.city_list {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 0;
}

/* Transition */ 
.modal, .button_primary, 
.icon_button, .icon_button > span,
.button_secondary,
.city_item {
    transition: all 0.3s ease-in-out;
}

/* Weather widget */
.weather_widget {
    display: flex;
    flex-direction: column;

    width: 420px;
    padding: 24px;
    box-sizing: border-box;

    color: var(--text-color);
    background: var(--secondary-color);
}

.weather_widget > div {
    width: 100%;
}

.weather_widget__header,
.weather_widget__content,
.weather_widget__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather_widget__footer {
    gap: 12px;
}

/* Map */
.map {
    background: var(--secondary-color);
    position: relative;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;

    border-radius: 32px;
    box-sizing: border-box;

    overflow: hidden;
}

.map > .button_primary {
    position: absolute;
    bottom: 24px;
    right: 24px;
    z-index: 100000;
}